<!DOCTYPE html>
<html>
<head>
  <title>Data update analyze</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "data_update_analyze/application", media: "all" %>
  <%= javascript_include_tag "data_update_analyze/application" %>

</head>
<body>

<%= yield %>

</body>
</html>
