<%= flash[:notice] %>
<h4>Import Data</h4>
<%= form_tag import_british_datum_index_url, multipart: true do %>
<%= file_field_tag :file%>
<%= submit_tag "Submit CSV" %>
<% end %>

<h1>Data</h1>
<%= content_tag :table, role: :datatable, class: "table table-striped nowrap", data: { url: british_datum_index_url(format: :json)} do %>
  <thead>
   <% @fields.each do |f| %>
        <th><%= f.columns %></th>
    <% end %>
  </thead>
  <tbody>
    <tr>
  <% @british_data.each do |d| %>
      <td><%= d.value %></td>
  <% end %>
    </tr>
  </tbody>
<% end %>

<%# <table>
  <thead>
    <tr>
     <% @fields.each do |f| %>
        <%# <th><%= f.columns </th> %>
    <%# <% end %>
    <%# </tr> %>
  <%# </thead> %>

  <%# <tbody> %>
    <%# <% @british_data.each do |d| %> 
      <%# <tr> %>
        <%# <td><%= d.value </td>
      <%# </tr> %>
    <%# <% end %> 
  <%# </tbody> %>
<%# </table> %> 
